# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.python_packages/
.venv/
venv/
env/
*.egg-info/
bin
obj
# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# macOS and system files
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Logs
*.log
